In [1]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np
import requests
#from config import api_key
from pprint import pprint
import numpy as np
import json
import pymysql
# ask abiout this import sqlalchemy
#pymysql.install_as_MySQLdb()
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
# must change pass word
engine = create_engine("mysql+pymysql://root:{your pass word}@localhost:3306/bball_db")
conn = engine.connect()
from sqlalchemy.orm import Session
Session = Session(bind=engine)

In [4]:

df = pd.read_csv('NBA_Differential.csv', encoding = 'ISO-8859-1')

In [5]:
df.head()

   Unnamed: 0   PTS   FG%  3P%   FT%  OREB  DREB   REB   AST  BLK  TOV    PF
0           0  24.0  18.9 -7.0 -15.8  -1.0  14.0  13.0   8.0  4.0  2.0   3.0
1           2  14.0   6.9  4.6 -19.8  -1.0   5.0   4.0  10.0  1.0  1.0   1.0
2           4   6.0   1.6 -1.5  14.9  -2.0  -5.0  -7.0   5.0 -2.0 -7.0  -3.0
3           6  13.0   9.7 -1.4  -1.7  -2.0  10.0   8.0  11.0 -3.0 -3.0 -10.0
4           8  -9.0  -9.0 -2.7  10.4   7.0   0.0   7.0  -1.0 -2.0  5.0  -3.0

In [6]:
#from string import printable
#def remove_unicode(x):
    #return ''.join([l for l in x if str(l) in printable])

In [7]:
#df.chronname = df.chronname.apply(remove_unicode)

In [8]:
df.to_sql("bball_db",engine,if_exists="append", index=False)

In [10]:
x = pd.read_sql('select * from bball_db', engine)

In [11]:
x.head()

   Unnamed: 0   PTS   FG%  3P%   FT%  OREB  DREB   REB   AST  BLK  TOV    PF
0           0  24.0  18.9 -7.0 -15.8  -1.0  14.0  13.0   8.0  4.0  2.0   3.0
1           2  14.0   6.9  4.6 -19.8  -1.0   5.0   4.0  10.0  1.0  1.0   1.0
2           4   6.0   1.6 -1.5  14.9  -2.0  -5.0  -7.0   5.0 -2.0 -7.0  -3.0
3           6  13.0   9.7 -1.4  -1.7  -2.0  10.0   8.0  11.0 -3.0 -3.0 -10.0
4           8  -9.0  -9.0 -2.7  10.4   7.0   0.0   7.0  -1.0 -2.0  5.0  -3.0